@model BearingApp.Models.MeebaInfo

@{
    ViewBag.Title = "Create";
}

<form method="post" action="@Url.Action("PostEvent", "MeebaInfoes")">
    <br />
Name: <input type="text" name="itemName" placeholder="Enter a name for your event" /><br />
Category: <select name="Category">
    <option value="Appointment">Appointment</option>
    <option value="Work">Work</option>
    <option value="Social">Social</option>
    <option value="Personal">Personal</option>
    <option value="Event">Event</option>
    <option value="Other">Other</option>
    </select><br />

Pull: <select name="Pull">
    <option value="Inner">Inner</option>
    <option value="Outer">Outer</option>
    </select><br />

<input type="submit" value="Create Event" />
</form>
